<nav class="site-nav">
  <a href="/" class="site-nav__brand">{{ site.title | upcase }}</a>
  <div class="site-nav__links">
    <a href="/" class="site-nav__link{% if page.url == '/' %} is-active{% endif %}">Home</a>
    <a href="/writing/" class="site-nav__link{% if page.url == '/writing/' or page.layout == 'post' %} is-active{% endif %}">Writing</a>
    <a href="/projects/" class="site-nav__link{% if page.url == '/projects/' %} is-active{% endif %}">Projects</a>
    <a href="/about/" class="site-nav__link{% if page.url == '/about/' %} is-active{% endif %}">About</a>
    <button id="theme-toggle" class="site-nav__toggle" type="button" aria-label="Toggle color theme">Light</button>
  </div>
</nav>
