<div class="now-playing" data-endpoint="{{ site.now_playing.endpoint }}" hidden>
  <div class="now-playing__art" aria-hidden="true" data-now-playing-art></div>
  <div class="now-playing__info">
    <div class="now-playing__label" data-now-playing-label>I'm currently listening to</div>
    <div class="now-playing__title" data-now-playing-title></div>
    <div class="now-playing__source" data-now-playing-source></div>
  </div>
  <div class="now-playing__side">
    <div class="now-playing__eq" aria-hidden="true" data-now-playing-eq>
      <span></span><span></span><span></span><span></span>
    </div>
    <a href="#" class="now-playing__link" data-now-playing-link>Last.fm &rarr;</a>
  </div>
</div>
